In [12]:
import pandas as pd
from pymongo import MongoClient 
import pandas as pd
import numpy as np
import random

In [2]:
df= pd.read_csv("recom1.csv")

In [13]:
# li = df["UserId"].tolist()

In [16]:
random.sample(df["UserId"].tolist(), 8)

['036d328f-17ce-47f0-a661-7b3a311fdaf7',
 '064410dc-276b-410f-b484-3e4d25979353',
 'cab31378-93b4-43c6-9a89-4e91991430da',
 'a03cd83c-1e82-4576-848b-428cd9886c72',
 '3fad4771-6cd4-4d93-b95f-5eb204d1d30a',
 '1ce4ca45-4bfc-4760-b1cb-51b4f2a4cac4',
 '3a8a359f-e759-4c23-8db1-7c679c679e32',
 '92ce4a60-6077-4700-a0dc-69929acc9471']

In [2]:
df2= pd.read_csv("interest.csv")

In [3]:
df2.isnull().sum()

UserId            0
Id                0
LikedByUser       0
DisLikedByUser    0
Subject           0
Industry          0
Function          0
TypeOfService     0
AdditionalInfo    0
Type              0
TimeLine          0
CreatedTime       0
ExpertiseLevel    0
Award             0
Image             0
dtype: int64

In [141]:
df2[df2.Id=="df2afe5b-de2c-49db-b884-d5a223b75a6a"]

,UserId,Id,LikedByUser,DisLikedByUser,Subject,Industry,Function,TypeOfService,AdditionalInfo,Type,TimeLine,CreatedTime,ExpertiseLevel,Award,Image
855,4faa19b0-4687-11ea-9914-0242ac1c0002,df2afe5b-de2c-49db-b884-d5a223b75a6a,uuid#uuid11#uuid11,uuid#uuid11,business,Real Estate,Information Technology,Automotive services,UNKNOWN,seeker,4 weeks,13-03-2002 20:32:16,1,UNKNOWN,https://interestimage.s3.ap-south-1.amazonaws....

In [143]:
df2.head()

,UserId,Id,LikedByUser,DisLikedByUser,Subject,Industry,Function,TypeOfService,AdditionalInfo,Type,TimeLine,CreatedTime,ExpertiseLevel,Award,Image
0,4fa876dc-4687-11ea-9914-0242ac1c0002,471f5a3f-b509-4a2b-90b5-f9da4eba13d8,uuid,uuid,business,Communication Services,Distribution,Energy,Energy services such as metered power from a g...,provider,5 weeks,23-02-1998 22:56:12,3,UNKNOWN,https://interestimage.s3.ap-south-1.amazonaws....
1,4fa87970-4687-11ea-9914-0242ac1c0002,090809bc-0da2-429d-8c15-791a001c19a5,uuid,uuid,personal,Energy,Sourcing,Real Estate,UNKNOWN,seeker,4 weeks,18-06-2015 08:39:21,2,UNKNOWN,https://interestimage.s3.ap-south-1.amazonaws....
2,4fa87a1a-4687-11ea-9914-0242ac1c0002,4bf36ae4-58b5-48f3-8dce-67a62dbf9c84,uuid,uuid,personal,UNKNOWN,Information Technology,Retail,UNKNOWN,seeker,2 weeks,02-11-1991 04:44:32,3,UNKNOWN,UNKNOWN
3,4fa87a9c-4687-11ea-9914-0242ac1c0002,0755b2a9-f374-4f75-a6c7-b55fba05b3ee,uuid,uuid,UNKNOWN,Communication Services,Strategy,Tourism,Travel services such as a flight or tour.,provider,2 weeks,10-04-1990 19:15:52,1,UNKNOWN,https://interestimage.s3.ap-south-1.amazonaws....
4,4fa87bb4-4687-11ea-9914-0242ac1c0002,ef854723-fc9d-4512-800c-3fe03be178b7,uuid,uuid,social,Materials,Governance,Hospitality,"Any service that hosts guests such as a hotel,...",seeker,2 weeks,11-03-2017 21:17:34,3,UNKNOWN,https://interestimage.s3.ap-south-1.amazonaws....

In [148]:
 
    
    
df = df2[pd.Series(userId in df2['LikedByUser'][k].split('#') for k in range(len(df2['LikedByUser'])))]
df

,UserId,Id,LikedByUser,DisLikedByUser,Subject,Industry,Function,TypeOfService,AdditionalInfo,Type,TimeLine,CreatedTime,ExpertiseLevel,Award,Image
623,4fa9d32e-4687-11ea-9914-0242ac1c0002,7f0558e7-03bc-4058-9e73-3d9b75d1aa5e,uuid#uuid11#uuid11,uuid,UNKNOWN,Materials,Sourcing,Port Services,UNKNOWN,seeker,6 weeks,13-06-1993 14:39:57,3,UNKNOWN,https://interestimage.s3.ap-south-1.amazonaws....
855,4faa19b0-4687-11ea-9914-0242ac1c0002,df2afe5b-de2c-49db-b884-d5a223b75a6a,uuid#uuid11#uuid11,uuid#uuid11,business,Real Estate,Information Technology,Automotive services,UNKNOWN,seeker,4 weeks,13-03-2002 20:32:16,1,UNKNOWN,https://interestimage.s3.ap-south-1.amazonaws....

In [150]:
data = []
df3 = pd.read_csv('userName.csv')
list1 = df.to_dict(orient='records')
for i in list1:
    i.update(df3.to_dict(orient='records')[randint(1,len(df3)-1)])
    data.append(i)

In [151]:
data

[{'UserId': '4fa9d32e-4687-11ea-9914-0242ac1c0002',
  'Id': '7f0558e7-03bc-4058-9e73-3d9b75d1aa5e',
  'LikedByUser': 'uuid#uuid11#uuid11',
  'DisLikedByUser': 'uuid',
  'Subject': 'UNKNOWN',
  'Industry': 'Materials',
  'Function': 'Sourcing',
  'TypeOfService': 'Port Services',
  'AdditionalInfo': 'UNKNOWN',
  'Type': 'seeker',
  'TimeLine': '6 weeks',
  'CreatedTime': '13-06-1993 14:39:57',
  'ExpertiseLevel': 3,
  'Award': 'UNKNOWN',
  'Image': 'https://interestimage.s3.ap-south-1.amazonaws.com/Materials%20.jpg',
  'FirstName': 'raaz',
  'LastName': 'singh'},
 {'UserId': '4faa19b0-4687-11ea-9914-0242ac1c0002',
  'Id': 'df2afe5b-de2c-49db-b884-d5a223b75a6a',
  'LikedByUser': 'uuid#uuid11#uuid11',
  'DisLikedByUser': 'uuid#uuid11',
  'Subject': 'business',
  'Industry': 'Real Estate',
  'Function': 'Information Technology',
  'TypeOfService': 'Automotive services',
  'AdditionalInfo': 'UNKNOWN',
  'Type': 'seeker',
  'TimeLine': '4 weeks',
  'CreatedTime': '13-03-2002 20:32:16',
  'ExpertiseLevel': 1,
  'Award': 'UNKNOWN',
  'Image': 'https://interestimage.s3.ap-south-1.amazonaws.com/Real%20Estate.png',
  'FirstName': 'Sanjay K',
  'LastName': 'Lachhiramka'}]

In [125]:
for k in range(len(df2['LikedByUser'])):
    if(type(.5)split('#')==type(df2['LikedByUser'][k])):
        print(k)

961

In [128]:
df2.loc[961]

UserId            4faa3aa8-4687-11ea-9914-0242ac1c0002
Id                                           c67f063e-
LikedByUser                                        NaN
DisLikedByUser                                     NaN
Subject                                            NaN
Industry                                           NaN
Function                                           NaN
TypeOfService                                      NaN
AdditionalInfo                                     NaN
Type                                               NaN
TimeLine                                           NaN
CreatedTime                                        NaN
ExpertiseLevel                                     NaN
Award                                              NaN
Image                                              NaN
Name: 961, dtype: object

In [63]:
# userId = "uuid11"

In [100]:
from random import randint

In [65]:
# df = df2[pd.Series(userId not in df2['DisLikedByUser'][k].split(',') for k in range(len(df2['DisLikedByUser'])))]

In [93]:
userId = "uuid"

In [105]:
dict1 = df2.to_dict(orient='records')[:8]

In [106]:
dict1

[{'UserId': 'c5dc55b8-4339-11ea-ada7-0242ac1c0002',
  'Id': '99908536',
  'LikedByUser': 'uuid',
  'DisLikedByUser': 'uuid',
  'Subject': 'UNKNOWN',
  'Industry': 'Consumer Staples',
  'Function': 'Finance',
  'TypeOfService': 'Ecommerce',
  'AdditionalInfo': 'UNKNOWN',
  'Type': 'seeker',
  'TimeLine': '5 weeks',
  'CreatedTime': '16-11-1960 04:44:43',
  'ExpertiseLevel': 2,
  'Award': 'UNKNOWN',
  'Image': 'https://interestimage.s3.ap-south-1.amazonaws.com/Consumer%20Staples.jpg'},
 {'UserId': 'c5dc5770-4339-11ea-ada7-0242ac1c0002',
  'Id': '99932768',
  'LikedByUser': 'uuid',
  'DisLikedByUser': 'uuid',
  'Subject': 'personal',
  'Industry': 'Energy',
  'Function': 'Finance',
  'TypeOfService': 'agricultural services',
  'AdditionalInfo': 'UNKNOWN',
  'Type': 'provider',
  'TimeLine': '5 weeks',
  'CreatedTime': '10-07-1990 15:12:09',
  'ExpertiseLevel': 1,
  'Award': 'UNKNOWN',
  'Image': 'https://interestimage.s3.ap-south-1.amazonaws.com/Energy.jpeg'},
 {'UserId': 'c5dc5806-4339-11ea-ada7-0242ac1c0002',
  'Id': '99957000',
  'LikedByUser': 'uuid',
  'DisLikedByUser': 'uuid',
  'Subject': 'UNKNOWN',
  'Industry': 'Energy',
  'Function': 'Finance',
  'TypeOfService': 'Marketing & Sales',
  'AdditionalInfo': 'UNKNOWN',
  'Type': 'seeker',
  'TimeLine': '3 weeks',
  'CreatedTime': '09-06-1987 04:56:47',
  'ExpertiseLevel': 3,
  'Award': 'UNKNOWN',
  'Image': 'https://interestimage.s3.ap-south-1.amazonaws.com/Energy.jpeg'},
 {'UserId': 'c5dc5874-4339-11ea-ada7-0242ac1c0002',
  'Id': '99981232',
  'LikedByUser': 'uuid',
  'DisLikedByUser': 'uuid',
  'Subject': 'personal',
  'Industry': 'UNKNOWN',
  'Function': 'Sourcing',
  'TypeOfService': 'Construction',
  'AdditionalInfo': 'UNKNOWN',
  'Type': 'provider',
  'TimeLine': '4 weeks',
  'CreatedTime': '11-12-1960 15:20:47',
  'ExpertiseLevel': 3,
  'Award': 'UNKNOWN',
  'Image': 'UNKNOWN'},
 {'UserId': 'c5dc5b76-4339-11ea-ada7-0242ac1c0002',
  'Id': '100005464',
  'LikedByUser': 'uuid',
  'DisLikedByUser': 'uuid',
  'Subject': 'business',
  'Industry': 'Financials',
  'Function': 'Governance',
  'TypeOfService': 'Telecom',
  'AdditionalInfo': 'UNKNOWN',
  'Type': 'seeker',
  'TimeLine': '5 weeks',
  'CreatedTime': '23-06-2010 03:46:37',
  'ExpertiseLevel': 2,
  'Award': 'UNKNOWN',
  'Image': 'https://interestimage.s3.ap-south-1.amazonaws.com/Financials.jpg'},
 {'UserId': 'c5dc5d56-4339-11ea-ada7-0242ac1c0002',
  'Id': '100029696',
  'LikedByUser': 'uuid',
  'DisLikedByUser': 'uuid',
  'Subject': 'business',
  'Industry': 'Real Estate',
  'Function': 'Design',
  'TypeOfService': 'Real Estate',
  'AdditionalInfo': 'UNKNOWN',
  'Type': 'seeker',
  'TimeLine': '1 weeks',
  'CreatedTime': '30-03-2009 10:42:23',
  'ExpertiseLevel': 2,
  'Award': 'UNKNOWN',
  'Image': 'https://interestimage.s3.ap-south-1.amazonaws.com/Real%20Estate.png'},
 {'UserId': 'c5dc5dd8-4339-11ea-ada7-0242ac1c0002',
  'Id': '100053928',
  'LikedByUser': 'uuid',
  'DisLikedByUser': 'uuid',
  'Subject': 'social',
  'Industry': 'Communication Services',
  'Function': 'Design',
  'TypeOfService': 'Energy',
  'AdditionalInfo': 'Energy services such as metered power from a grid or managed solar panel systems.',
  'Type': 'seeker',
  'TimeLine': '1 weeks',
  'CreatedTime': '02-10-1993 04:05:24',
  'ExpertiseLevel': 2,
  'Award': 'UNKNOWN',
  'Image': 'https://interestimage.s3.ap-south-1.amazonaws.com/Communication%20Services.jpg'},
 {'UserId': 'c5dc5e50-4339-11ea-ada7-0242ac1c0002',
  'Id': '100078160',
  'LikedByUser': 'uuid',
  'DisLikedByUser': 'uuid',
  'Subject': 'social',
  'Industry': 'UNKNOWN',
  'Function': 'Operations',
  'TypeOfService': 'Real Estate',
  'AdditionalInfo': 'UNKNOWN',
  'Type': 'provider',
  'TimeLine': '6 weeks',
  'CreatedTime': '19-06-1989 11:28:39',
  'ExpertiseLevel': 2,
  'Award': 'UNKNOWN',
  'Image': 'UNKNOWN'}]

In [96]:
df = df2[pd.Series(userId not in df2['LikedByUser'][k].split(',') for k in range(len(df2['LikedByUser'])))]
df = df[pd.Series(userId not in df2['DisLikedByUser'][k].split(',') for k in range(len(df2['LikedByUser'])))]

/home/linkcxo002/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [101]:
dict1 = df.to_dict(orient='records')[randint(1, len(df)-1)]

ValueError: empty range for randrange() (1,0, -1)

,UserId,Id,LikedByUser,DisLikedByUser,Subject,Industry,Function,TypeOfService,AdditionalInfo,Type,TimeLine,CreatedTime,ExpertiseLevel,Award,Image
1669,c5e09b6e-4339-11ea-ada7-0242ac1c0002,140400208,"uuid,uuid11",uuid,UNKNOWN,Real Estate,Governance,Ecommerce,UNKNOWN,seeker,6 weeks,05-12-1985 03:59:57,1,UNKNOWN,https://interestimage.s3.ap-south-1.amazonaws....

In [10]:
list1 = df.to_dict(orient='records')

In [14]:
data = []

In [15]:

for i in list1:
    i.update(df3.to_dict(orient='records')[randint(1,len(df3)-1)])
    data.append(i)

In [16]:
data

[]

In [130]:
#  df1.replace(np.nan, 'UNKNOWN',inplace=True, regex=True)

In [131]:
# df1.to_csv('interest1.csv',index=False)

In [132]:
# interestId = 99908536
# userId = 'c5e075ee-4339-11ea-ada7-0242ac1c0002'

In [133]:
# df.at[df.index[df['Id'] == interestId].tolist()[0],'LikedByUser']= df[df.Id==interestId]['LikedByUser'].tolist()[0]+','+userId

In [31]:
df.loc[2005].UserId

'uuid'

In [3]:
df.head()

,UserId,Id,LikedByUser,DisLikedByUser,Subject,Industry,Function,TypeOfService,AdditionalInfo,Type,TimeLine,CreatedTime,ExpertiseLevel,Award,Image
0,c5dc55b8-4339-11ea-ada7-0242ac1c0002,99908536,uuid,uuid,UNKNOWN,Consumer Staples,Finance,Ecommerce,UNKNOWN,seeker,5 weeks,16-11-1960 04:44:43,2,UNKNOWN,https://interestimage.s3.ap-south-1.amazonaws....
1,c5dc5770-4339-11ea-ada7-0242ac1c0002,99932768,uuid,uuid,personal,Energy,Finance,agricultural services,UNKNOWN,provider,5 weeks,10-07-1990 15:12:09,1,UNKNOWN,https://interestimage.s3.ap-south-1.amazonaws....
2,c5dc5806-4339-11ea-ada7-0242ac1c0002,99957000,uuid,uuid,UNKNOWN,Energy,Finance,Marketing & Sales,UNKNOWN,seeker,3 weeks,09-06-1987 04:56:47,3,UNKNOWN,https://interestimage.s3.ap-south-1.amazonaws....
3,c5dc5874-4339-11ea-ada7-0242ac1c0002,99981232,uuid,uuid,personal,UNKNOWN,Sourcing,Construction,UNKNOWN,provider,4 weeks,11-12-1960 15:20:47,3,UNKNOWN,UNKNOWN
4,c5dc5b76-4339-11ea-ada7-0242ac1c0002,100005464,uuid,uuid,business,Financials,Governance,Telecom,UNKNOWN,seeker,5 weeks,23-06-2010 03:46:37,2,UNKNOWN,https://interestimage.s3.ap-south-1.amazonaws....

In [ ]:
 df = df.append({"UserId": UserId, "Id": interests, "LikedByUser": domain, "DisLikedByUser": Expertise,
                          "Subject": np.nan, "Industry": np.nan, "Function": np.nan,
                          "TypeOfService": np.nan,"AdditionalInfo":,"Type","TimeLine","CreatedTime","ExpertiseLevel","Award",""}, ignore_index=True)

In [7]:
from datetime import datetime

In [9]:
now = datetime.now()

In [11]:
now.strftime("%d-%m-%Y %H:%M:%S")

'31-01-2020 16:18:51'

In [17]:
df = df.append({"UserId": "c5dc5770-4339-11ea-ada7-0242ac1c0002", "Id": 12345678, "LikedByUser": "uuid", "DisLikedByUser": "uuid",
                          "Subject": "hello", "Industry": "baby", "Function": "how",
                          "TypeOfService": "are","AdditionalInfo":"you","Type":"seeker","TimeLine":"5 weeks","CreatedTime":now.strftime("%d-%m-%Y %H:%M:%S"),"ExpertiseLevel":3,"Award":"UNKNOWN","Image":"UNKNOWN"}, ignore_index=True)

In [135]:
df[df['Id'] == 114399272]

,UserId,Id,LikedByUser,DisLikedByUser,Subject,Industry,Function,TypeOfService,AdditionalInfo,Type,TimeLine,CreatedTime,ExpertiseLevel,Award,Image
598,c5def8ae-4339-11ea-ada7-0242ac1c0002,114399272,"uuid,f8216846-f1cb-4072-843e-62b93f819715",uuid,personal,UNKNOWN,Operations,Entertainment,"Entertainment such as a video game, theme park...",provider,3 weeks,07-11-2016 20:37:28,1,UNKNOWN,UNKNOWN

In [97]:
d= df.to_dict(orient='records')[0]

In [2]:
#  df.to_dict(orient='records')[0:3]

In [105]:
data = []

In [115]:
from random import randint

In [118]:
list1 = df.to_dict(orient='records')#list

In [2]:
!pip install boto3

Collecting boto3
  Using cached https://files.pythonhosted.org/packages/d5/57/e9675a5a8d0ee586594ff19cb9a601334fbf24fa2fb29052d2a900ee5d23/boto3-1.11.9-py2.py3-none-any.whl
Collecting botocore<1.15.0,>=1.14.9 (from boto3)
  Using cached https://files.pythonhosted.org/packages/64/4c/b0b0d3b6f84a05f9135051b56d3eb8708012a289c4b82ee21c8c766f47b5/botocore-1.14.9-py2.py3-none-any.whl
Collecting jmespath<1.0.0,>=0.7.1 (from boto3)
  Using cached https://files.pythonhosted.org/packages/83/94/7179c3832a6d45b266ddb2aac329e101367fbdb11f425f13771d27f225bb/jmespath-0.9.4-py2.py3-none-any.whl
Collecting s3transfer<0.4.0,>=0.3.0 (from boto3)
  Using cached https://files.pythonhosted.org/packages/c7/48/a8252b6b3cd31774eab312b19d58a6ac55f296240c206617dcd38cd93bf8/s3transfer-0.3.2-py2.py3-none-any.whl
Requirement already satisfied: docutils<0.16,>=0.10 in /home/linkcxo002/anaconda3/lib/python3.7/site-packages (from botocore<1.15.0,>=1.14.9->boto3) (0.15.2)
Requirement already satisfied: urllib3<1.26,>=1.20 in /home/linkcxo002/anaconda3/lib/python3.7/site-packages (from botocore<1.15.0,>=1.14.9->boto3) (1.24.2)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /home/linkcxo002/anaconda3/lib/python3.7/site-packages (from botocore<1.15.0,>=1.14.9->boto3) (2.8.0)
Requirement already satisfied: six>=1.5 in /home/linkcxo002/anaconda3/lib/python3.7/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.15.0,>=1.14.9->boto3) (1.12.0)
Installing collected packages: jmespath, botocore, s3transfer, boto3
Successfully installed boto3-1.11.9 botocore-1.14.9 jmespath-0.9.4 s3transfer-0.3.2

In [21]:
# for i in list1:
#     i.update(df.to_dict(orient='records')[randint(0,len(df))])
#     data.append(i)

In [13]:
import os
import boto

In [15]:
!ls

credentials.csv  index.jpeg    __pycache__  templates	    userName.csv
db.sqlite3	 interest.csv  recom1.csv   untitled	    venv
env		 manage.py     recom.csv    Untitled.ipynb

In [ ]:
s3 = boto3.client('s3')

  presigned_post = s3.generate_presigned_post(
    Bucket = 'interestimage',
    Key = credentials.csv,
    Fields = {"acl": "public-read", "Content-Type": file_type},
    Conditions = [
      {"acl": "public-read"},
      {"Content-Type": file_type}
    ],
    ExpiresIn = 3600
  )

  return json.dumps({
    'data': presigned_post,
    'url': 'https://%s.s3.amazonaws.com/%s' % (S3_BUCKET, file_name)
  })

In [11]:
!ls

db.sqlite3  interest.csv  __pycache__  recom.csv  untitled	  userName.csv
env	    manage.py	  recom1.csv   templates  Untitled.ipynb  venv

In [10]:
conn = boto.connect_s3("AKIARKXIBDF7KEVPUTJP",
        "ZuB3a2HWrBe44Y49xjCiXML6NYYtnp1cLyW+ut1h")

In [16]:
# bucket = conn.get_bucket('interestimage')
# key = boto.s3.key.Key(bucket, ' recom1.csv')
# with open('some_file.zip') as f:
#     key.send_file(f)

In [17]:
import boto3
from botocore.exceptions import NoCredentialsError

ACCESS_KEY = "AKIARKXIBDF7KEVPUTJP"
SECRET_KEY =  "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"


def upload_to_aws(local_file, bucket, s3_file):
    s3 = boto3.client('s3', aws_access_key_id=ACCESS_KEY,
                      aws_secret_access_key=SECRET_KEY)

    try:
        s3.upload_file(local_file, bucket, s3_file)
        print("Upload Successful")
        return True
    except FileNotFoundError:
        print("The file was not found")
        return False
    except NoCredentialsError:
        print("Credentials not available")
        return False

In [18]:
uploaded = upload_to_aws('index.jpeg', 'interestimage', 'business')

S3UploadFailedError: Failed to upload index.jpeg to interestimage/business: An error occurred (AccessDenied) when calling the PutObject operation: Access Denied

In [5]:
!ls

db.sqlite3  interest.csv  __pycache__  recom.csv  untitled	  userName.csv
env	    manage.py	  recom1.csv   templates  Untitled.ipynb  venv

In [ ]:
file =

In [6]:
s3_resource.Object("interestimage", "recom1.csv").upload_file(
    Filename=first_file_name)

NameError: name 'first_file_name' is not defined

In [ ]:
df.to_dict(orient='records')[randint(0,len(df))]

In [113]:
df.head()

,UserId,Id,LikedByUser,DisLikedByUser,Subject,Industry,Function,TypeOfService,AdditionalInfo,Type,TimeLine,CreatedTime,ExpertiseLevel,Award,Image
0,c5dc55b8-4339-11ea-ada7-0242ac1c0002,99908536,uuid,uuid,UNKNOWN,Consumer Staples,Finance,Ecommerce,UNKNOWN,seeker,5 weeks,16-11-1960 04:44:43,2,UNKNOWN,https://interestimage.s3.ap-south-1.amazonaws....
1,c5dc5770-4339-11ea-ada7-0242ac1c0002,99932768,uuid,uuid,personal,Energy,Finance,agricultural services,UNKNOWN,provider,5 weeks,10-07-1990 15:12:09,1,UNKNOWN,https://interestimage.s3.ap-south-1.amazonaws....
2,c5dc5806-4339-11ea-ada7-0242ac1c0002,99957000,uuid,uuid,UNKNOWN,Energy,Finance,Marketing & Sales,UNKNOWN,seeker,3 weeks,09-06-1987 04:56:47,3,UNKNOWN,https://interestimage.s3.ap-south-1.amazonaws....
3,c5dc5874-4339-11ea-ada7-0242ac1c0002,99981232,uuid,uuid,personal,UNKNOWN,Sourcing,Construction,UNKNOWN,provider,4 weeks,11-12-1960 15:20:47,3,UNKNOWN,UNKNOWN
4,c5dc5b76-4339-11ea-ada7-0242ac1c0002,100005464,uuid,uuid,business,Financials,Governance,Telecom,UNKNOWN,seeker,5 weeks,23-06-2010 03:46:37,2,UNKNOWN,https://interestimage.s3.ap-south-1.amazonaws....

{'UserId': 'c5dc55b8-4339-11ea-ada7-0242ac1c0002',
 'Id': 99908536,
 'LikedByUser': 'uuid',
 'DisLikedByUser': 'uuid',
 'Subject': 'UNKNOWN',
 'Industry': 'Consumer Staples',
 'Function': 'Finance',
 'TypeOfService': 'Ecommerce',
 'AdditionalInfo': 'UNKNOWN',
 'Type': 'seeker',
 'TimeLine': '5 weeks',
 'CreatedTime': '16-11-1960 04:44:43',
 'ExpertiseLevel': 2,
 'Award': 'UNKNOWN',
 'Image': 'https://interestimage.s3.ap-south-1.amazonaws.com/Consumer%20Staples.jpg',
 'name': 'rahul'}

In [93]:
df.head()

,UserId,Id,LikedByUser,DisLikedByUser,Subject,Industry,Function,TypeOfService,AdditionalInfo,Type,TimeLine,CreatedTime,ExpertiseLevel,Award,Image
0,c5dc55b8-4339-11ea-ada7-0242ac1c0002,99908536,uuid,uuid,UNKNOWN,Consumer Staples,Finance,Ecommerce,UNKNOWN,seeker,5 weeks,16-11-1960 04:44:43,2,UNKNOWN,https://interestimage.s3.ap-south-1.amazonaws....
1,c5dc5770-4339-11ea-ada7-0242ac1c0002,99932768,uuid,uuid,personal,Energy,Finance,agricultural services,UNKNOWN,provider,5 weeks,10-07-1990 15:12:09,1,UNKNOWN,https://interestimage.s3.ap-south-1.amazonaws....
2,c5dc5806-4339-11ea-ada7-0242ac1c0002,99957000,uuid,uuid,UNKNOWN,Energy,Finance,Marketing & Sales,UNKNOWN,seeker,3 weeks,09-06-1987 04:56:47,3,UNKNOWN,https://interestimage.s3.ap-south-1.amazonaws....
3,c5dc5874-4339-11ea-ada7-0242ac1c0002,99981232,uuid,uuid,personal,UNKNOWN,Sourcing,Construction,UNKNOWN,provider,4 weeks,11-12-1960 15:20:47,3,UNKNOWN,UNKNOWN
4,c5dc5b76-4339-11ea-ada7-0242ac1c0002,100005464,uuid,uuid,business,Financials,Governance,Telecom,UNKNOWN,seeker,5 weeks,23-06-2010 03:46:37,2,UNKNOWN,https://interestimage.s3.ap-south-1.amazonaws....

In [26]:
# list(df1[df1['Id'] == 99932768]["LikedByUser"])[0]

In [27]:
# df1[pd.Series(1 in df1['LikedByUser'][k] for k in range(len(df1['LikedByUser'])))]

In [2]:
try: 
    conn = MongoClient("mongodb+srv://rahul:rahul@cluster0-g8qek.mongodb.net/test?retryWrites=true&w=majority") 
    print("Connected successfully!!!") 
except:   
    print("Could not connect to MongoDB") 
  
# database name: mydatabase 
db = conn.test 
  
# Created or Switched to collection names: myTable 
collection = db.userprofiles

Connected successfully!!!

In [8]:
firstName = []
lastName = []

In [11]:
# for i in list(collection.find({})):
#     try:
#         print(i["about"]["firstName"])
#         firstName.append(i["about"]["firstName"])
#         lastName.append(i["about"]["lastName"])
#     except:
#         print()

In [13]:
data = {"FirstName":firstName,
        "LastName":lastName
}

In [14]:
df1 = pd.DataFrame(data)

In [15]:
df1.head()

  FirstName LastName
0     rahul   maurya
1      amit    kumar
2     Aamir     Khan
3   rajveer    singh
4  siddhart    dixit

In [18]:
from random import randint

In [16]:
df1.to_csv('userName.csv',index=False)

In [20]:
[df1.to_dict(orient='records')[randint(1,len(df1))] for i in range(8)]

[{'FirstName': 'Kuldip Kumar', 'LastName': 'Mehta'},
 {'FirstName': 'nitin', 'LastName': 'kumar'},
 {'FirstName': 'Madhur', 'LastName': 'Satija'},
 {'FirstName': 'Naveen', 'LastName': ''},
 {'FirstName': 'Srinivas ', 'LastName': 'rokhade'},
 {'FirstName': 'Sanjay K', 'LastName': 'Lachhiramka'},
 {'FirstName': 'Gautami', 'LastName': 'Ramesh Havele'},
 {'FirstName': 'sunil', 'LastName': 'singh'}]

In [21]:
df2 = pd.read_csv('interest.csv')

In [23]:
data = []

In [25]:
dict1 = df2.to_dict(orient='records')[randint(1, 2000)]
dict2 = df1.to_dict(orient='records')[randint(1, len(df1))]
dict1.update(dict2)
data.append(dict1)

In [26]:
data

[{'UserId': 'fc5e7a90-4108-11ea-a8af-0242ac1c0002',
  'Subject': 'personal',
  'Industry': 'Communication Services',
  'Function': 'Customer Service',
  'TypeOfService': 'Accounting and Auditing',
  'AdditionalInfo': nan,
  'Type': 'seeker',
  'TimeLine': '2 weeks',
  'CreatedTime': '25-05-2010 03:25:00',
  'ExpertiseLevel': 2,
  'Award': 'UNKNOWN',
  'Image': 'https://interestimage.s3.ap-south-1.amazonaws.com/Communication%20Services.jpg?response-content-disposition=inline&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEA0aCXVzLWVhc3QtMSJHMEUCIAP9zl32aLPr7Mb9vCXusmyjIPm8%2BaGKwqPNUvAOiYCTAiEAyKxsOx13ORsqP57%2Fv%2FZyKwR6zd854T6hnmJC1t3NEUsqlgIIpv%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARAAGgwwOTE3NTQ2NjYzNjYiDLzsY21zFzHy2w74dirqAbxAz170%2BfOYM2SYsgDXJWyIu1k8Ce3tMuDjdGuN3LYV5Fr3MAJdKyZiNqGDtF0mFkn3GaGM0R6bv%2Bal5GFaVhrhBDH0Zy1MLZdysGFTpJrOYZry6JHqc5Qvz3Bi1%2BCXKPArfQt7w98DhnImDhwI9gkUp8jxUVx5XqD3m00hOUwnEyU7Z%2B9fTYrXv%2BWXfczCcyL2sN5paFxDpmQgVWBK%2F8fKfWsyRLtqGPcLUgUn9mIou86QqGKLDAbHmykmtChtSNM5dIz2XBhaHHqPU%2FpQX%2FI9xekZL2jn3OMgXvRYx%2FSJXY04akhY4UN7wzDTtbvxBTqCA7av%2BafeqOEarrG8v83fkBYFI2kldYH%2ByNDFpAHsn0CeB7kzSGpvNXpuuPa7o8aVIJfsy%2Bpa3mQHwGj%2BDH456mR7uflO3u%2Fyp1%2BxW1EVctRtCwX3JdJuYaJWWk2K328TS3ZZsEDwv%2BpCbJY%2F1VFmmnF5QqAlyJzidfVGASioQ2u8pDjF1fdj1YxdPz6dI8Z%2F1FrkRFVV7xfIgXqAIU0%2BBwZpS0n0MUut21BKpMfDenuh5NTEI%2B0aJcrzKoMl3lFls7EXYg%2FUp%2FXay2pB1MAXBgmXkk7eXBgfFXR3z3p4MCZZm129YPZv2RmP6%2F6O4yKFLYgZB1blgtqRQH0VT2ei38sscqospEL9pvH0b7D1D8h8cvq5sMGyCNIgXCExqqX4j%2BKU%2F4s%2BToM51GipyePaouSteb40VQN6VrUPykpW3uOxZziZ7U%2FTO%2BEL7i4X87KGpLNtjr%2FP9UA8T%2FsMqRzVSSn2WC9VzXi2rN%2Fi0D8m%2BBFscTj25Pwwkin%2FlbbPMQsh%2F1hv&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20200127T125856Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIARKXIBDF7KMJXV7W5%2F20200127%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Signature=119cb1e0ddd71183639a3fd8a61068b36adb27b0cb5696ea6f1acf91fb8b97c0',
  'FirstName': 'Vijay',
  'LastName': 'Bhutani'}]

In [8]:
for i in list(collection.find({})):

    if i["userId"] not in list(df1.UserId):

        UserId = i["userId"]
        try:
            Domain = "UNKNOWN" if i["domain"].lower() not in ["influencer","investor","entrepreneur","expert"] else i["domain"].lower()
        except:
             Domain = "UNKNOWN" 
        Interest = "UNKNOWN" if i["interests"] == [] else '/'.join(i["interests"])
        
        Expertise = "UNKNOWN" if i["expertise"]["industry"] == [] else ["expertise"]["industry"]

        df1 = df1.append({"UserId": UserId, "Interest": Interest, "Domain":Domain, "Expertise": Expertise,"Entrepreneur_rating": np.nan, "Influencer_rating": np.nan, "Expert_rating": np.nan,"Investor_rating": np.nan}, ignore_index=True)
        print(UserId)
        df1.to_csv("recom1.csv",index=False)

In [9]:
df1

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,UserId,Domain,Expertise,Interest,Entrepreneur_rating,Influencer_rating,Expert_rating,Investor_rating
0,NaN,NaN,NaN,0f42c1ef-a8cf-4663-b837-0898471ead0d,UNKNOWN,UNKNOWN,hollywood,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,a6f134cd-1cd7-4b99-8fce-5b8c8e95338c,UNKNOWN,UNKNOWN,hollywood,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,42a2c8f3-5c32-4e66-91a8-17c661f987e7,UNKNOWN,UNKNOWN,UNKNOWN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,10b161fb-6911-4b2b-85a5-d0ce6467cb0a,expert,UNKNOWN,hollywood,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,9ad41bf5-f7d3-4d82-bbc1-c2c2654714e2,investor,UNKNOWN,hollywood,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
69,NaN,NaN,NaN,89c2ef84-c5df-4f7c-84a4-a8dd61f5498c,UNKNOWN,UNKNOWN,UNKNOWN,NaN,NaN,NaN,NaN
70,NaN,NaN,NaN,638c0bca-f3a4-4faa-b8cc-1cc029af03f2,UNKNOWN,UNKNOWN,UNKNOWN,NaN,NaN,NaN,NaN
71,NaN,NaN,NaN,455e8c03-71ac-4bdb-906b-cf42b0711e8f,UNKNOWN,UNKNOWN,UNKNOWN,NaN,NaN,NaN,NaN
72,NaN,NaN,NaN,df189ae8-257b-4d43-acaa-25b05e476511,UNKNOWN,UNKNOWN,UNKNOWN,NaN,NaN,NaN,NaN
73,NaN,NaN,NaN,add2123c-cb3c-4b56-a04d-9860a3146097,UNKNOWN,UNKNOWN,UNKNOWN,NaN,NaN,NaN,NaN

In [34]:
def makeFinalCluster(userId, df1):
    UserId = userId
    if(list(df1[df1.UserId==userId].UserId)==[]):
        try:
            domain = list(collection.find({"userId":UserId}))[0]['domain']
        except:
            domain = "UNKNOWN"
        Expertise = "UNKNOWN" if df.expertise[0]["industry"] == [] else df.expertise[0]["industry"]
        interests = "UNKNOWN" if df.interests[0] == [] else '/'.join(df.interests[0])
        df1 = df1.append({"UserId": UserId, "Interest": interests, "Domain":domain, "Expertise": Expertise,"Entrepreneur_rating": np.nan, "Influencer_rating": np.nan, "Expert_rating": np.nan,"Investor_rating": np.nan}, ignore_index=True)
        df1.to_csv('recom1.csv',index=False)

In [55]:
for i in collection.find():
    print(i["userId"])

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [64]:
for i in collection.find():
    print(i["userId"])
    makeFinalCluster(i["userId"], df)

0f42c1ef-a8cf-4663-b837-0898471ead0d

TypeError: 'list' object is not callable

In [67]:
collection.find({"userId":"0f42c1ef-a8cf-4663-b837-0898471ead0d"})

In [27]:
domain = ["influencer","investor","entrepreneur","expert"]

In [49]:
df1

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,UserId,Domain,Expertise,Interest,Entrepreneur_rating,Influencer_rating,Expert_rating,Investor_rating
0,NaN,NaN,NaN,0f42c1ef-a8cf-4663-b837-0898471ead0d,entrepreneur,UNKNOWN,hollywood,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,a6f134cd-1cd7-4b99-8fce-5b8c8e95338c,entrepreneur,UNKNOWN,hollywood,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,42a2c8f3-5c32-4e66-91a8-17c661f987e7,expert,UNKNOWN,UNKNOWN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,10b161fb-6911-4b2b-85a5-d0ce6467cb0a,expert,UNKNOWN,hollywood,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,9ad41bf5-f7d3-4d82-bbc1-c2c2654714e2,entrepreneur,UNKNOWN,hollywood,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
74,NaN,NaN,NaN,f9a9b635-57ff-4580-8da7-0cb48235aae9,entrepreneur,UNKNOWN,UNKNOWN,NaN,NaN,NaN,NaN
75,NaN,NaN,NaN,6507f42d-5df3-4d28-91f8-aa80d2a29e5c,investor,UNKNOWN,UNKNOWN,NaN,NaN,NaN,NaN
76,NaN,NaN,NaN,d6af484d-00e4-4180-93fb-42a295f12820,investor,UNKNOWN,UNKNOWN,NaN,NaN,NaN,NaN
77,NaN,NaN,NaN,520f7902-8073-4f57-ad1e-0c216e0822aa,investor,UNKNOWN,UNKNOWN,NaN,NaN,NaN,NaN
78,NaN,NaN,NaN,3a8a359f-e759-4c23-8db1-7c679c679e32,entrepreneur,UNKNOWN,UNKNOWN,NaN,NaN,NaN,NaN

In [13]:
import random

In [48]:
df1['Domain']=lis

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [46]:
lis = []

for i in range(79):
    lis.append(random.choice(domain))

In [47]:
lis

['entrepreneur',
 'entrepreneur',
 'expert',
 'expert',
 'entrepreneur',
 'influencer',
 'influencer',
 'expert',
 'expert',
 'investor',
 'influencer',
 'expert',
 'entrepreneur',
 'entrepreneur',
 'expert',
 'investor',
 'entrepreneur',
 'influencer',
 'entrepreneur',
 'entrepreneur',
 'entrepreneur',
 'expert',
 'expert',
 'investor',
 'expert',
 'expert',
 'expert',
 'investor',
 'influencer',
 'influencer',
 'influencer',
 'entrepreneur',
 'entrepreneur',
 'expert',
 'influencer',
 'expert',
 'influencer',
 'expert',
 'expert',
 'influencer',
 'entrepreneur',
 'expert',
 'investor',
 'expert',
 'entrepreneur',
 'investor',
 'investor',
 'entrepreneur',
 'influencer',
 'investor',
 'influencer',
 'investor',
 'expert',
 'investor',
 'investor',
 'investor',
 'expert',
 'investor',
 'expert',
 'influencer',
 'expert',
 'influencer',
 'entrepreneur',
 'entrepreneur',
 'expert',
 'entrepreneur',
 'investor',
 'expert',
 'expert',
 'expert',
 'entrepreneur',
 'influencer',
 'entrepreneur',
 'expert',
 'entrepreneur',
 'investor',
 'investor',
 'investor',
 'entrepreneur']

In [50]:
df1.to_csv('recom1.csv',index=False)